@font-face {
  font-family: 'VisueltPro';
  src: url('../fonts/VisueltPro-Regular.1291473.ttf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'VisueltPro';
  src: url('../fonts/VisueltPro-Medium.6a0f8e3.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'VisueltPro';
  src: url('../fonts/VisueltPro-Light.6dd7d1f.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'VisueltPro';
  src: url('../fonts/VisueltPro-Bold.8b803e8.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'VisueltPro';
  src: url('../fonts/VisueltPro-Black.3fe3829.ttf');
  font-weight: 900;
  font-style: normal;
}